<a href="https://colab.research.google.com/github/blvcksand/Moringa_Data_Science_Prep_W4_Independent_Project_2019_06_Lee_Wainaina_Python_Notebook/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_06_Lee_Wainaina_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('http://bit.ly/autolib_dataset')
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
df.shape

(5000, 25)

we have missing values in the above dataset

In [ ]:
# Dropping irrelevant Data
# dropped the "Scheduled at" column cause it contains NULL values
df.drop(["Geo point", "Displayed comment", "Address", "Scheduled at"], axis = 1, inplace = True)

In [ ]:
# checking for missing values
df.isnull().sum()

Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [ ]:
# check for duplicates
df1 = df.drop_duplicates()
df1.head()

   Cars  Bluecar counter  Utilib counter  ...  day  hour minute
0     0                0               0  ...    8    11     43
1     6                6               0  ...    6     7     24
2     3                3               0  ...    3    20     14
3     3                3               1  ...    4     4     37
4     3                3               0  ...    8    17     23

[5 rows x 21 columns]

In [ ]:
# Outliers
# Data Cleaning Action: checking for outliers using IQR Scores
#


Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)

IQR = Q3 - Q1


(df1 < (Q1 - 1.5 * IQR)) |(df1> (Q3 + 1.5 * IQR))


# The two commented lines of code below can be used to drop the outliers but for now I will not drop them

#df1_no_outlier = dfc[~((df1 < (Q1 - 1.5 * IQR)) | (df1 > (Q3 + 1.5 * IQR))).any(axis = 1)]

# df1_no_outlier

      Bluecar counter   Cars  Charge Slots  ...  minute  month   year
0               False  False         False  ...   False  False  False
1               False  False         False  ...   False  False  False
2               False  False         False  ...   False  False  False
3               False  False          True  ...   False  False  False
4               False  False         False  ...   False  False  False
...               ...    ...           ...  ...     ...    ...    ...
4995            False  False         False  ...   False  False  False
4996            False  False          True  ...   False  False  False
4997            False  False          True  ...   False  False  False
4998            False  False         False  ...   False  False  False
4999            False  False         False  ...   False  False  False

[5000 rows x 21 columns]

In [ ]:
# sorting ID of the station
df1.sort_values(["ID","day","hour","minute"], ascending=[True,True,True,True])[10:50]

      Cars  Bluecar counter  Utilib counter  ...  day  hour minute
1923     4                4               0  ...    6     7     52
2724     0                0               0  ...    1    15     11
408      0                0               0  ...    2    21     15
3595     0                0               0  ...    2    23     46
1726     0                0               0  ...    5     9     57
465      0                0               0  ...    5    22     22
853      0                0               0  ...    8    21     43
4668     0                0               0  ...    9     0     37
2016     6                6               0  ...    1     5     24
1248     2                2               1  ...    2    23     47
746      1                1               0  ...    4    20     19
4744     4                4               0  ...    7     8     15
3701     4                4               0  ...    1     2      0
269      5                5               0  ...    1    23      0
4900     3                3               0  ...    3    20     54
2980     0                0               0  ...    4    11     48
1253     5                5               0  ...    8     4     21
937      4                4               1  ...    1     1     28
4953     0                0               0  ...    2    16     21
3655     4                4               0  ...    3     4      8
1313     0                0               0  ...    3    12     42
2307     5                5               1  ...    6    20     56
1296     1                1               0  ...    7    16     28
4428     5                5               0  ...    9    21      6
2313     0                0               0  ...    2    19     10
4236     1                1               0  ...    2    21     41
1678     1                1               0  ...    3    19      5
3710     2                2               1  ...    4     9     59
3623     5                5               0  ...    8     3     30
201      4                4               0  ...    9    17     12
4712     4                4               0  ...    9    18     33
4659     0                0               0  ...    1    14     21
4244     0                0               0  ...    2    17      5
423      0                0               0  ...    3     9     48
1750     0                0               0  ...    4    11     58
4891     0                0               0  ...    9    17     57
848      6                6               0  ...    1    10     25
1798     4                4               0  ...    1    18     49
2243     1                1               0  ...    2    11      9
2959     6                6               0  ...    4     9     59

[40 rows x 21 columns]

In [ ]:
# Hint:
# To compute usage, we will need to understand we have to join successive 
# (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.
# Creating a new column where we find the difference in the number of bluecars at the station/counter

df1['car_Difference'] = df['Bluecar counter'].diff()
df1.head()

   Cars  Bluecar counter  Utilib counter  ...  hour  minute car_Difference
0     0                0               0  ...    11      43            NaN
1     6                6               0  ...     7      24            6.0
2     3                3               0  ...    20      14           -3.0
3     3                3               1  ...     4      37            0.0
4     3                3               0  ...    17      23            0.0

[5 rows x 22 columns]

In [ ]:
# Q1

# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
df1[df1['car_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    113
16    107
19    104
9      97
13     95
14     94
3      93
20     90
7      89
18     89
22     89
23     88
5      88
8      87
15     87
17     85
4      82
0      78
12     78
6      75
11     73
2      72
1      72
10     71
Name: hour, dtype: int64

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

df1_paris = df1[df1['City'] =='Paris'] 

df1_paris.head()

   Cars  Bluecar counter  Utilib counter  ...  hour  minute car_Difference
0     0                0               0  ...    11      43            NaN
1     6                6               0  ...     7      24            6.0
3     3                3               1  ...     4      37            0.0
4     3                3               0  ...    17      23            0.0
5     0                0               0  ...     7       2           -3.0

[5 rows x 22 columns]

In [ ]:
#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?
 # Overall?

df1_paris[(df1_paris['Kind'] == 'STATION') & (df1_paris['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75015    220
75016    197
75017    180
75011    155
75013    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

df1_paris[df1_paris['car_Difference'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    80
16    68
7     64
13    62
5     62
23    61
20    61
3     60
8     59
4     58
18    57
9     57
17    55
19    55
22    55
14    54
12    54
0     52
10    52
2     51
6     50
15    49
11    47
1     43
Name: hour, dtype: int64

In [ ]:
# What is the most popular hour for returning cars?

df1_paris[df1_paris['car_Difference'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
3     49
12    48
10    48
6     46
8     44
21    43
11    42
19    42
15    42
18    40
9     40
0     39
22    38
2     38
1     38
16    37
5     37
23    35
13    33
7     33
17    33
4     31
20    27
14    25
Name: hour, dtype: int64

In [ ]:
# What station is the most popular?
# Overall?

df1_paris[(df1_paris['Kind'] == 'STATION') & (df1_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [ ]:
# What station is the most popular at the most popular picking hour?
popular = df1.sort_values(by=['hour'], ascending=False)
print(popular.head())

      Cars  Bluecar counter  Utilib counter  ...  hour  minute car_Difference
581      5                5               0  ...    23      41            3.0
906      4                4               0  ...    23      56            1.0
2043     1                1               0  ...    23      36           -2.0
1291     0                0               0  ...    23      41           -5.0
4174     0                0               0  ...    23      25           -4.0

[5 rows x 22 columns]

In [ ]:
#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# At the most popular picking hour?

df1_paris[(df1_paris['Kind'] == 'STATION') & (df1_paris['Status'] == 'ok') & (df1_paris['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015     9
75017     8
75005     8
75011     8
75013     7
75007     6
75008     5
75012     5
75009     5
75020     4
75004     4
75010     4
75018     4
75006     3
75014     2
75003     2
75019     1
75002     1
75001     1
Name: Postal code, dtype: int64

In [ ]:
# Creating a new column where we find the difference in the number of Utilib at the station/counter

df1['Utilib_Difference'] = df1['Utilib counter'].diff()
df1.head()

   Cars  Bluecar counter  ...  car_Difference  Utilib_Difference
0     0                0  ...             NaN                NaN
1     6                6  ...             6.0                0.0
2     3                3  ...            -3.0                0.0
3     3                3  ...             0.0                1.0
4     3                3  ...             0.0               -1.0

[5 rows x 23 columns]